---
import SkillGalaxy from "@components/skill-galaxy.astro";
import Text from "@components/core/text";
import { pageBounds } from "@styles/page.ts";
---

<div class={`flex flex-col justify-center px-4 gap-4 py-4 ${pageBounds}`}>
  <Text.H2>Full Stack Specialist</Text.H2>

  <div class="w-full">
    <SkillGalaxy />
  </div>
</div>
