---
import Screen from "@layouts/screen.astro";
import AboutComp from "@components/about/index.astro";
import Text from "@components/core/text";
// import Spotify from "@components/about/spotify.tsx";
import CommitActivity from "@components/about/commit-activity.tsx";
import StackOverflow from "@components/about/stack-overflow.tsx";
import { pageBounds } from "@styles/page";

const SHOPIFY_CHECKOUT_URL =
  "https://www.shopify.com/uk/partners/blog/mobile-checkout-sdks-for-ios-and-android";

const _stackoverflow = await (
  await fetch(
    "https://api.stackexchange.com/2.2/users/5428936?site=stackoverflow",
  )
).json();
const stackoverflow = _stackoverflow.items;
---

<Screen>
  <div class:list={[pageBounds, "pt-10"]}>
    <Text.H1>About Me</Text.H1>

    <div class="flex pt-8 gap-8 dark:text-white text-lg">
      <!-- left col -->
      <div class="w-1/2">
        <p>I'm Kieran Osgood, London, UK.</p>
        <p>
          Senior Engineer at Shopify, working on the
          <a href={SHOPIFY_CHECKOUT_URL} class="underline">Checkout SDK</a>.
        </p>
        <br />
        <p>If you spot me at a conference please say hi!</p>
      </div>

      <!-- right col -->
      <div class="w-1/2">
        <!-- <div>profile and socials</div> -->
        <!-- spotify isnt working at the moment due to issues with client vs server auth -->
        <!-- <Spotify client:only="react" /> -->

        <StackOverflow items={stackoverflow} />
        <CommitActivity client:only="react" />
      </div>
    </div>
  </div>

  <AboutComp />
</Screen>
