---
import Text from "@components/core/text";
import { pageBounds } from "@styles/page.ts";
---

<div class={`flex flex-col justify-center px-4 gap-4 py-4 ${pageBounds}`}>
  <Text.H1>Contact me</Text.H1>

  <div class="w-full"></div>
</div>
