---
import SkillGalaxy from "@components/skill-galaxy.astro";
import Heading from "@components/core/heading";
import { pageBounds } from "@styles/page.ts";
---

<div
  class={`flex flex-col justify-center items-center px-4 gap-4 py-4 ${pageBounds}`}
>
  <Heading.H2> Full Stack Specialist </Heading.H2>

  <div class="w-full">
    <SkillGalaxy />
  </div>
</div>
