---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
//    ^?

---

{
    posts.map((post) => (
        <a href={`/blog/${post.slug}`}>
            <p>{post.data.title}</p>
        </a>
    ))
}
