---
// import Aurora from "@assets/aurora.astro";
import LinkButton from "@components/core/link-button.astro";
import Socials from "@components/socials.astro";

type Link = { label: string; href: string };

const links = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about" },
  { label: "Portfolio", href: "/portfolio" },
  { label: "Blog", href: "/blog" },
  { label: "Contact", href: "/contact" },
] satisfies Link[];
---

<footer
  class="flex flex-col self-center pt-12 px-4 w-full sm:max-w-xl md:max-w-3xl lg:max-w-7xl relative"
>
  <div class="flex flex-row justify-between w-full">
    <div>
      <div class="pb-6 md:pb-10">
        <h2
          class="text-3xl md:text-6xl font-bold dark:text-white pb-6 md:pb-10"
        >
          Lets Connect
        </h2>
        <LinkButton href="/contact-us">Contact</LinkButton>
      </div>

      <Socials withText />
    </div>

    <!--<div class='absolute w-1/2 left-1/4 top-0 md:top-[-15%] md:left-[38%] lg:top-[-50%]'>-->
    <!--    <Aurora/>-->
    <!--</div>-->

    <!-- Not sure why col-end-4 works - lets check whether we just use flex -->
    <div class="hidden sm:grid grid-cols-1 col-end-4 gap-1">
      {
        links.map((route) => (
          <a
            class="footer-navigation-links text-black dark:text-white font-bold no-underline"
            href={route.href}
          >
            {route.label}
          </a>
        ))
      }
    </div>
  </div>

  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700 w-full" />

  <div class="dark:text-slate-400 font-bold pb-8 w-full">
    &copy; {new Date().getFullYear()}, KO.DEV
  </div>
</footer>

<script>
  import { highlightCurrentPage } from "@styles/page";

  highlightCurrentPage(".footer-navigation-links");
</script>
