---
import LinkButton from '@components/core/link-button.astro';
import Socials from '@components/socials.astro';
---

<footer class="border-t-2">
    <div class='grid grid-cols-2'>
        <div>
            <div>
                <h2 class='dark:text-white'>Lets Connect</h2>
                <LinkButton>Contact Me</LinkButton>
            </div>

            <Socials />
        </div>

        {
            /* Not sure why col-end-4 works - lets check whether we just use flex */
        }
        <div class='grid grid-cols-1 col-end-4 gap-1'>
            {
                ['Home', 'About', 'Portfolio', 'Blog', 'Contact'].map(
                    (route) => (
                        <a
                            class='text-black dark:text-white font-bold no-underline'
                            href={`${route.toLowerCase()}`}
                        >
                            {route}
                        </a>
                    ),
                )
            }
        </div>
    </div>

    <hr />

    <div class='dark:text-white'>
        &copy; {new Date().getFullYear()}, KO.DEV
    </div>
</footer>
