---

---

<footer>
    <div class="grid grid-cols-2">
        <div>
            <div>
                <h2>
                    Lets Connect
                </h2>
                <button>
                    Contact Me
                </button>
            </div>
            <div class="socials">
                <a href="/">Github</a>
                <a href="/">LinkedIn</a>
                <a href="/">Twitter</a>
                <a href="/">Instagram</a>
            </div>
        </div>
        <div>
            Home
            About
            Portfolio
            Blog
            Contact
        </div>

    </div>

    <hr/>

    <div class="post-footer">
        &copy;{new Date().getFullYear()}, KO.DEV
    </div>
</footer>