---
import ThemePicker from '@components/theme-picker.astro';
---

<div class='flex row items-center justify-center h-10 gap-2 border-b-2'>
    <a class='dark:text-white' href='/blog'>blog</a>

    <!-- includes the Search -->
    <ThemePicker />
</div>
