---
import Search from "@components/search.astro";
import ThemePicker from "@components/theme-picker.astro";
import Socials from "@components/socials.astro";
---

<div class="flex row items-center justify-between h-10 gap-2 p-4 py-8">
  <a href="/" style="width:228px; height:34px;" class="flex justify-center">
    <svg
      viewBox="0 0 228 58"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="fill-black dark:fill-white"
    >
      <path
        d="M11.76 39.76L11.368 31.136L31.92 9.8H40.096L23.016 27.944L18.984 32.368L11.76 39.76ZM5.264 49V9.8H12.544V49H5.264ZM32.592 49L17.584 31.136L22.4 25.816L41.104 49H32.592ZM107.967 49V9.8H125.103C129.359 9.8 133.092 10.6213 136.303 12.264C139.514 13.9067 142.015 16.184 143.807 19.096C145.599 22.008 146.495 25.4427 146.495 29.4C146.495 33.32 145.599 36.7547 143.807 39.704C142.015 42.616 139.514 44.8933 136.303 46.536C133.092 48.1787 129.359 49 125.103 49H107.967ZM115.247 42.84H124.767C127.716 42.84 130.255 42.28 132.383 41.16C134.548 40.04 136.21 38.472 137.367 36.456C138.562 34.44 139.159 32.088 139.159 29.4C139.159 26.6747 138.562 24.3227 137.367 22.344C136.21 20.328 134.548 18.76 132.383 17.64C130.255 16.52 127.716 15.96 124.767 15.96H115.247V42.84ZM160.953 26.096H180.441V32.088H160.953V26.096ZM161.513 42.896H183.633V49H154.233V9.8H182.849V15.904H161.513V42.896ZM202.794 49L185.657 9.8H193.554L208.842 45.248H204.306L219.762 9.8H227.042L209.962 49H202.794Z"
      ></path>
      <path
        d="M67.7081 8.94909C68.0647 8.96772 68.4144 9.05694 68.737 9.21187C69.0591 9.36487 69.3466 9.58356 69.5867 9.84857C69.8238 10.1089 70.0088 10.4196 70.1286 10.7591C70.2484 11.0986 70.3003 11.4587 70.2806 11.8143L68.4465 46.2121C68.4217 46.5816 68.3294 46.9381 68.175 47.261C68.0207 47.5839 67.8073 47.8666 67.5474 48.0928C67.0031 48.5779 66.3067 48.8238 65.5853 48.7855C64.8883 48.7582 64.2144 48.4355 63.7067 47.886C63.47 47.6254 63.2855 47.3146 63.1657 46.9752C63.0459 46.6358 62.9937 46.2759 63.0128 45.9203L64.8469 11.5225C64.8667 11.1633 64.9551 10.8143 65.1093 10.4931C65.2648 10.1694 65.4785 9.87969 65.746 9.64184C66.2884 9.1533 66.9861 8.907 67.7081 8.94909ZM52.7167 22.223C53.3446 22.5793 53.8041 23.1712 53.9954 23.8679C54.1867 24.5647 54.0939 25.3082 53.7364 25.9371L49.3765 33.6092L57.0433 37.9811C57.3615 38.1539 57.6405 38.3895 57.8662 38.671C58.0895 38.9505 58.2566 39.2767 58.356 39.6269C58.4554 39.977 58.4846 40.3427 58.4417 40.6984C58.3965 41.0639 58.282 41.4114 58.1053 41.719C57.9223 42.038 57.6832 42.3128 57.4009 42.5285C56.819 42.9762 56.0959 43.1674 55.3679 43.0658C55.0163 43.0187 54.6727 42.899 54.3556 42.7131L44.3258 36.9919C43.6996 36.6352 43.2396 36.0414 43.0488 35.3466C42.8575 34.6498 42.9503 33.9063 43.3078 33.2774L49.0109 23.2405C49.3842 22.5995 49.9687 22.1441 50.6523 21.9615C51.348 21.7705 52.09 21.8644 52.7161 22.2211L52.7167 22.223ZM75.2308 16.0414C75.6041 15.4004 76.1886 14.9449 76.8722 14.7623C77.5679 14.5713 78.3116 14.6647 78.936 15.0219L88.9659 20.7432C89.5938 21.0994 90.0538 21.6932 90.2446 22.3881C90.4359 23.0848 90.3431 23.8284 89.9856 24.4572L84.2825 34.4941C84.1103 34.8119 83.8772 35.0924 83.595 35.3176C83.0207 35.7765 82.301 35.9807 81.5721 35.8918C81.2193 35.8505 80.8734 35.7363 80.5531 35.5555C80.2441 35.3812 79.9683 35.141 79.7427 34.8498C79.5239 34.5661 79.3621 34.2368 79.2687 33.8849C79.1754 33.533 79.1527 33.1671 79.2022 32.8128C79.2543 32.4483 79.3752 32.1034 79.5575 31.7995L83.9169 24.1255L76.25 19.7535C75.6221 19.3972 75.1621 18.8034 74.9708 18.1067C74.7795 17.4099 74.8728 16.6683 75.2303 16.0394L75.2308 16.0414Z"
      ></path>
    </svg>
  </a>

  <Search />

  <div class="flex flex-row items-center gap-4">
    <div class="hidden md:flex flex-row items-center gap-4 text-lg">
      <a class="header-navigation-links dark:text-white" href="/">Home</a>
      <a class="header-navigation-links dark:text-white" href="/blog">Blog</a>
      <a class="header-navigation-links dark:text-white" href="/portfolio"
        >Portfolio</a
      >

      <!-- include the Search -->

      <p class="dark:text-white">|</p>

      <Socials size="1.3rem" />

      <p class="dark:text-white">|</p>
    </div>

    <ThemePicker />
  </div>
</div>

<script>
  import { highlightCurrentPage } from "@styles/page";

  highlightCurrentPage(".header-navigation-links");
</script>
