---
import { Image } from "astro:assets";
import galaxy from "@assets/galaxy.svg";
---

<div
  class="relative w-full rounded-2xl bg-[#3744D7] p-8 py-12 flex flex-row overflow-hidden"
>
  <ul class="text-white font-bold text-lg md:text-xl lg:text-2xl">
    <li>React Native specialist</li>
    <li>Full-Stack developer</li>
    <li>AWS Solutions Architect</li>
  </ul>

  <Image
    src={galaxy}
    alt="Galaxy-esque image with layer depicting software technologies"
    class={`absolute bg-contain 
   h-[120%]    top-[-10%]    right-[-35%] 
md:h-[170%] md:top-[-30%] md:right-[-25%]`}
  />
</div>
