---
import Icon from '@components/core/icon/icon.astro';
---

<div class='flex flow-row gap-4'>
	<a
		class='dark:text-white'
		href='https://twitter.com/kieranbosgood'
		target='_blank'
	>
		<Icon name='twitter' />
	</a>
	<a
		class='dark:text-white'
		href='https://www.linkedin.com/in/kieranosgood/'
		target='_blank'
	>
		<Icon name='linkedin' />
	</a>
	<a
		class='dark:text-white'
		href='https://github.com/kieran-osgood/'
		target='_blank'
	>
		<Icon name='github' />
	</a>
</div>
