---
interface Props {
	headings: { depth: number; slug: string; text: string }[];
}
const { headings } = Astro.props;
---

<div>
	<h2 class='dark:text-white font-semibold py-2'>Table of Contents</h2>

	{
		headings.map((_) => (
			<>
				<a
					href={`#${_.slug}`}
					class='dark:text-[#868c98] no-underline'
					style={`--depth: ${_.depth - 1}`}
					aria-current={_.current && 'true'}
				>
					{_.text}
				</a>
				<br />
			</>
		))
	}
</div>

<style>
	:root {
		--depth: 0;
	}

	a {
		--pad-inline: 0.5rem;
		padding-inline: calc(1rem * var(--depth) + var(--pad-inline))
			var(--pad-inline) !important;
	}

	a[aria-current='true'],
	a[aria-current='true']:hover,
	a[aria-current='true']:focus {
		font-weight: 600 !important;
		/* color: var(--sl-color-text-invert); */
		/* background-color: var(--sl-color-text-accent); */
	}
</style>
