---
import Page from '@layouts/page.astro';
import TableOfContents from '@components/table-of-contents.astro';
import EstimatedReadTime from '@layouts/estimated-read-time.astro';

const { headings, frontmatter } = Astro.props;
---

<Page>
	<div class='grid grid-cols-6 gap-3'>
		<div class='col-start-2 col-span-4 pt-8'>
			<article class='prose dark:prose-invert'>
				<h1>{frontmatter.title}</h1>
				<EstimatedReadTime frontmatter={frontmatter} />
				<slot />
			</article>
		</div>

		<TableOfContents headings={headings} />
	</div>
</Page>
