---
import Page from "@layouts/page.astro";
import TableOfContents from "@components/table-of-contents.astro";
import EstimatedReadTime from "@layouts/estimated-read-time.astro";
import { type CollectionEntry } from "astro:content";
import Text from "@components/core/text";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"] & { minutesRead: number };
  headings: { depth: number; slug: string; text: string; current?: boolean }[];
}

const { headings, frontmatter } = Astro.props;
---

<Page>
  <div
    class="flex flex-col justify-center lg:grid lg:grid-cols-12 lg:gap-5 px-5"
  >
    <div class="lg:col-start-4 lg:col-span-6 pt-8">
      <article class="prose prose-gray dark:prose-invert">
        <Text.H1>{frontmatter.title}</Text.H1>

        <div class="flex items-center flex-row">
          Published: {frontmatter.date}
          -&nbsp;
          <EstimatedReadTime {frontmatter} />
        </div>
        <slot />
      </article>
    </div>

    <div class="col-start-10 col-span-3 xl:col-span-2 hidden lg:block">
      <TableOfContents {headings} />
    </div>
  </div>
</Page>
