---
import Page from '@layouts/page.astro';
import TableOfContents from '@components/table-of-contents.astro';
import EstimatedReadTime from '@layouts/estimated-read-time.astro';

const { headings, frontmatter } = Astro.props;
---

<Page>
	<div class='grid grid-cols-12 gap-3'>

		<div class='col-start-4 col-span-6 pt-8'>
			<article class='prose prose-gray dark:prose-invert'>
				<h1>{frontmatter.title}</h1>
				<EstimatedReadTime frontmatter={frontmatter} />
				<slot />
			</article>
		</div>

		<div class="col-start-10 col-span-2">
		<TableOfContents headings={headings} />
		</div>
	</div>
</Page>
