---
import HtmlBase from "@layouts/html-base.astro";
import Header from "@components/header/index.astro";
import Footer from "@components/core/footer.astro";
---

<HtmlBase>
  <Header />

  <div class="flex flex-1 flex-col">
    <slot />
  </div>

  <Footer />
</HtmlBase>
