@font-face {
	font-family: 'CPMono_v07 Plain';
	font-style: normal;
	font-weight: normal;
	src: local('CPMono_v07 Plain'),
		url('../../fonts/CPMono_v07_Plain.woff') format('woff');
}

@font-face {
	font-family: 'CPMono_v07 Bold';
	font-style: normal;
	font-weight: normal;
	src: local('CPMono_v07 Bold'),
		url('../../fonts/CPMono_v07_Bold.woff') format('woff');
}

@font-face {
	font-family: 'Amantic SC Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Amantic Regular'),
		url('../../fonts/AmaticSC-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Amantic SC Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Amantic SC Bold'),
		url('../../fonts/AmaticSC-Bold.ttf') format('ttf');
}

a {
	transition: opacity 0.2s ease-in-out;
}

* {
	font-family: 'CPMono_V07';
}
:root {
	font-size: 62.5%;
}

.dark-mode-toggle.react-toggle .react-toggle-track,
.dark-mode-toggle.react-toggle--checked .react-toggle-track,
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track,
.dark-mode-toggle.react-toggle .react-toggle-thumb,
.dark-mode-toggle.react-toggle--checked .react-toggle-thumb {
	background-color: #000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
